<h1>id: <%= @task.id %> のTASK詳細ページ</h1>

<p>STATUS: <%= @task.status %></p>
<p>TASK: <%= @task.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このTASKを編集する', edit_task_path(@task) %>
<%= link_to 'このTASKを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>